<div class="attention-card">
  <div class="attention-card__head">
    <h3 class="attention-card__title">Needs attention</h3>
  </div>
  @for (item of items(); track item.label) {
    <a [routerLink]="item.route" class="attention-card__row">
      <span class="attention-card__icon"><app-icon [name]="item.icon" size="17" /></span>
      <div class="attention-card__body">
        <div class="attention-card__label">{{ item.label }}</div>
        <div class="attention-card__desc">{{ item.description }}</div>
      </div>
      <span class="attention-card__chevron"><app-icon name="chevron-right" size="16" /></span>
    </a>
  }
</div>
