<div class="intel-feed">
  <div class="intel-feed__head">
    <h3 class="intel-feed__title">Recent intelligence</h3>
    <span class="intel-feed__subtitle">Patterns Koriva has noticed across your meetings</span>
  </div>

  <div class="intel-feed__grid">
    @for (signal of signals(); track signal.topic) {
      <div class="intel-feed__card">
        <span class="intel-feed__icon"><app-icon [name]="signal.icon" size="18" /></span>
        <div class="intel-feed__body">
          <div class="intel-feed__topic">{{ signal.topic }}</div>
          <div class="intel-feed__meta">Mentioned in {{ signal.meetingCount }} meetings</div>
        </div>
        <span class="intel-feed__trend" [style.color]="trendColor(signal.trendType)">{{ signal.trend }}</span>
      </div>
    }
  </div>
</div>
