<div class="next-up">
  <div class="eyebrow next-up__eyebrow">Next up · in 40 minutes</div>
  <h3 class="serif next-up__title">Q4 pipeline review</h3>
  <div class="next-up__meta">
    <span class="next-up__meta-item"><app-icon name="clock" size="15" />Today, 2:00 PM</span>
    <span class="next-up__meta-item"><app-icon name="video" size="15" />Zoom</span>
    <span class="next-up__meta-item"><app-icon name="users" size="15" />6 participants</span>
  </div>
  <div class="next-up__actions">
    <button type="button" class="next-up__join">
      <app-icon name="video" size="17" />
      Join now
    </button>
    <a routerLink="/app/meetings/q4-pipeline-review" class="next-up__agenda">View agenda</a>
  </div>
</div>
